html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}

.d-extension .v-application--wrap {
  min-height: auto;
  display: block;
}

/** Maybe remove those */

.theme--light.v-input input, .theme--light.v-input textarea {
  color: var(--v-grey-3-base) !important;
}
